{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    HexNest - {{ data.piece.title }}
  {% elseif data.page %}
    HexNest - {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122837122-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122837122-1');
  </script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ apos.attachments.url(data.global.favicon, { size: 'one-sixth' }) }}">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}

    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="{{ data.home._url }}">
        {{ apos.singleton(data.global, 'navLogo', 'image')}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          {% for tab in data.home._children %}
            <li class="nav-item">
              <a class="nav-link {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %} active {% endif %}" href="{{ tab._url }}">{{ tab.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}

    <footer class="navbar navbar-expand navbar-light footer-navbar">
      <a class="navbar-brand" href="{{ data.home._url }}">
        <div class="logo-horizontal">{{ apos.singleton(data.global, 'footerLogoLg', 'image')}}</div>
        <div class="logo-stacked">{{ apos.singleton(data.global, 'footerLogoSm', 'image')}}</div>
      </a>

      <ul class="navbar-nav ml-auto">
        {% for tab in data.home._children %}
          <li class="nav-item">
            <a class="nav-link" href="{{ tab._url }}">{{ tab.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </footer>

{% endblock %}
